.content {
  height: 100vh;
}

.form {
  width: 35vw;
}

.title {
  margin-bottom: 16px;
  display: block;
}

.logo {
  width: 160px;
}

.product-card {
  background-color: #131313;
  border-radius: 8px;
  margin-bottom: 8px;
}
